body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .data {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .data a {
    color: #444;
    text-decoration: none;
}
footer .data a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

@media(max-width: 480px) {
  footer {
    flex-direction: column;
  }
}