@import './assets/styles/button';
@import './assets/styles/variables';
@import './assets/styles/card';
@import './assets/styles/filter';

ul,
h3,
h4 {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: $regular-font;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.header,
.footer {
  background-color: $color-red;
}

.header .wrapper,
.footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  color: white;

  .link {
    text-decoration: none;
    color: #FFFFFF;
  }

  .link:hover {
    color: rgb(197, 197, 197);
    transition: 0.5s;
  }

  h1 {
    line-height: 1.0;
  }

  @media(max-width: 610px) {
    padding: 20px 20px;
  }
}

.main .wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;

  @media(max-width: 610px) {
    grid-template-columns: 1fr;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: flex-start;
  row-gap: 20px;
  padding: 20px 0;

  @media(max-width: 1220px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.image-container img {
  width: 300px;
  height: 150px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-container {
  position: relative;

  .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: 4px;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: $color-active;
    font-size: 20px;
    font-weight: bold;
  }
}

@media(max-width: 610px) {
  .footer .wrapper {
    flex-direction: column;
    gap: 10px;
  }
}
