@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/Georgia/Georgia.ttf");
}

@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/Arial/Arial.TTF");
}

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-white: #FFFFFF;
$section-padding : 80px 40px 100px 40px;
$section-padding-768 : 80px 30px 100px 30px;
$section-padding-320 : 42px 10px;
$title-font: 35px/45px 'Georgia', serif;
$title-font-small: 25px/32px 'Georgia', serif;
$font-georgia-small: 20px/23px 'Georgia', serif;
$font-georgia-15: 15px/16.5px 'Georgia', serif;
$font-arial-small: 15px/24px 'Arial', sans-serif;

@mixin flex($justify: center, $align: center, $dir: row) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
}

%button {
    max-width: max-content;
    padding: 13px 43px;
    font: 17px/1.3 'Georgia';
    letter-spacing: 0.06em;
    border: 2px solid $color-primary;
    border-radius: 52px;
    text-decoration: none;
    color: $color-dark-3xl;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        background-color: $color-primary-light;
        border-color: $color-primary-light;
    }
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: $color-dark-s;
    &.lock {
        overflow: hidden;
    }
}

.wrapper{
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
}

.header-container {
    @include flex(space-between, stretch);
    padding: 60px 40px;
    background-image: url(../../assets/img/start-screen-background.png);
    background-size: cover;
    @media screen and (max-width: 1279px) {
        background-image: url(../../assets/img/start-screen-background-768.png);
        padding: 30px 30px 60px;
    }
    @media screen and (max-width: 767px) {
        @include flex(space-between, center);
        padding: 30px 10px 60px;
        background-image: url(../../assets/img/start-screen-background-320.png);
    }

    .header-info.hidden {
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
    }

    a {
        @include flex($dir:column);
        align-items: center;
        gap: 10px;
    }
    .header-title {
        margin: 0;
        font: 32px/35px 'Georgia';
        letter-spacing: 0.06em;
        color: $color-primary;
    }
    .header-text {
        padding-left: 3px;
        font: 13px/15px 'Arial';
        letter-spacing: 0.1em;
        color: $color-white;
    }

    .nav-menu {
        margin-left: auto;
        .burger-logo {
            display: none;
        }
        @media screen and (max-width: 767px) {
            position: fixed;
            top: 0;
            right: -100%;
            width: 300px;
            height: 100%;
            background-color: $color-dark-3xl;
            z-index: 4;
            transition: right 0.6s ease 0s;
            padding: 30px 10px 0 10px;
            .burger-logo {
                display: flex;
            }
        }
        &.open {
            right: 0;
            overflow: scroll;
        }


    }
    
    .nav-list {
        @include flex();
        gap: 36px;
        list-style-type: none;
        padding-left: 0;
        @media screen and (max-width: 767px) {
            flex-direction: column;
            padding-top: 142px;
            padding-bottom: 20px;
            gap: 43px;
        }
    }

    .nav-element {
        position: relative;
    }

    .link {
        font: $font-arial-small;
        color: $color-dark-s;
        transition: 0.5s;
        &.active-link{
            color: $color-light-s;
            &::after {
                content: '';
                position: absolute;
                display: block;
                bottom: -3px;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: $color-primary;
                transition: 0.5s;
            }
        }
        &:hover {
            color: $color-light-s;
        }
        @media screen and (max-width: 767px) {
            font: 32px/51px 'Arilal', sans-serif;
        }
    }
}

.dark {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: $color-dark-3xl;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    &.visible {
        visibility: visible;
        opacity: 0.6;
        transition: all 0.5s;
    }
}

.start-screen {
    @include flex(space-between, stretch);
    padding: 0 40px;
    background-image: url(../../assets/img/start-screen-background.png);
    background-size: cover;
    background-position: center -180px;
    @media screen and (max-width: 1279px) {
        @include flex($dir:column);
        padding: 0 30px;
        gap: 100px;
        background-image: url(../../assets/img/start-screen-background-768.png);
        background-position: center -150px;
    }
    @media screen and (max-width: 767px) {
        background-image: url(../../assets/img/start-screen-background-320.png);
        padding: 0 10px;
        gap: 105px;
    }
}

.start-info {
    display: flex;
    flex-direction: column;
    padding-top: 164px;
    gap: 42px; 
    max-width: 460px;
    color: $color-dark-s;
    @media screen and (max-width: 1279px) {
        padding-top: 0;
        .main-button {
            align-self: center;
        }
    }
    @media screen and (max-width: 767px) {
        align-items: center;
    }
}

.start-title {
    width: 310px;
    font: 44px/1.3 'Georgia';
    color: $color-white;
    @media screen and (max-width: 767px) {
        font: $title-font-small;
        letter-spacing: 0.06em;
        width: 240px;
        text-align: center;
    }
}

.start-text {
    font: $font-arial-small;
    color: $color-dark-s;
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.main-button {
    @extend %button;
    background: $color-primary; 
}

.secondary-button {
    @extend %button;
    background: transparent;
}

.start-image {
    display: flex;
    position: relative;
    @media screen and (max-width: 1279px) {
        left: 69px;
        img {
            max-width: 569px;
        }
    }
    @media screen and (max-width: 767px) {
        left: 20px;
        img {
            max-width: 260px;
        }
    }
}

.section {
    background-color: $color-white;
    @include flex();
    gap: 120px;
    padding: $section-padding;
    @media screen and (max-width: 1279px) {
        flex-direction: column-reverse;
        padding: $section-padding-768;
        gap: 80px;
    }
    @media screen and (max-width: 767px) {
        padding: $section-padding-320;
        text-align: justify;
        gap: 42px;
    }
}

.about-info {
    @include flex($dir: column, $align:flex-start);
    max-width: 430px;
    gap: 25px;
    .section-title {
        max-width: 370px;
    }
    @media screen and (max-width: 767px) {
        padding: 0 15px;
    }
}

.about-text {
    font: 15px/1.6 'Arial';
    color: $color-dark-xl;
}

.section-title {
    font: $title-font;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    @media screen and (max-width: 767px) {
        font: $title-font-small;
        text-align: center;
    }
}

.section-image {
    display: flex;
    @media screen and (max-width: 767px) {
        img {
            width: 260px;
        }
    }
}

.section-pets {
    @include flex($dir: column);
    gap: 60px;
    background: $color-light-l;
    .section-title {
        max-width: 400px;
        text-align: center;
    }
    @media screen and (max-width: 767px) {
        gap: 42px;
    }
}

.slider {
    @include flex();
    column-gap: 53px;
    @media screen and (max-width: 1279px) {
        column-gap: 12px;
    }
    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        max-width: 350px;
        gap: 20px 80px;
    }
}

.card-container {
    @include flex();
    gap: 90px;
    @media screen and (max-width: 1279px) {
        gap: 40px;
    }
}

.arrow-button {
    width: 52px;
    height: 52px;
    background-color: transparent;
    border: 2px solid $color-primary;
    border-radius: 52px;
    background-image: url(../../assets/svg/Arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
    &:last-child {
        transform: rotate(180deg);
    }
    &:hover {
        background-color: $color-primary-light;
        border-color: $color-primary-light;
    }
    @media screen and (max-width: 767px) {
        order: 1;
    }
}

.card {
    @include flex($dir: column);
    gap: 30px;
    padding-bottom: 30px;
    background: $color-light-s;
    transition: 0.5s;
    border-radius: 9px;
    cursor: pointer;
    &:hover {
        background: $color-white;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        .secondary-button{
            background-color: $color-primary-light;
            border-color: $color-primary-light;
        };
    }
    &:last-child {
        @media screen and (max-width: 1279px) {
            display: none;
        }   
    }
    &:nth-child(2) {
        @media screen and (max-width: 767px) {
            display: none;
        }   
    }
    
    span {
        font: $font-georgia-small;
        letter-spacing: 0.06em;
        color: $color-dark-l;
    }
}

.section-help {
    @include flex($dir: column);
    gap: 60px;
    .section-title {
        max-width: 310px;
        text-align: center;
    }
    @media screen and (max-width: 767px) {
        gap: 42px;
    }
}

.help-list {
    @include flex();
    gap: 55px 120px;
    flex-wrap: wrap;
    padding: 0 47px;
    @media screen and (max-width: 1279px) {
        gap: 55px 60px;
        padding: 0;
    }
    @media screen and (max-width: 767px) {
        justify-content: flex-start;
        max-width: 290px;
        gap: 30px;
    }
}

.list-item {
    background-image: url(../../assets/svg/icon-pet-food.svg);
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: top center;
    min-width: 60px;
    text-align: center;
    &:nth-child(2) {
        background-image: url(../../assets/svg/icon-transportation.svg);
    }
    &:nth-child(3) {
        background-image: url(../../assets/svg/icon-toys.svg);
    }
    &:nth-child(4) {
        background-image: url(../../assets/svg/icon-bowls-and-cups.svg);
    }
    &:nth-child(5) {
        background-image: url(../../assets/svg/icon-shampoos.svg);
    }
    &:nth-child(6) {
        background-image: url(../../assets/svg/icon-vitamins.svg);
    }
    &:nth-child(7) {
        background-image: url(../../assets/svg/icon-medicines.svg);
    }
    &:nth-child(8) {
        background-image: url(../../assets/svg/icon-collars-leashes.svg);
    }
    &:nth-child(9) {
        background-image: url(../../assets/svg/icon-sleeping-area.svg);
    }
    @media screen and (max-width: 1279px) {
        width: 24%;
    }
    @media screen and (max-width: 767px) {
        background-size: 50px 50px;
        width: 130px;
        &:last-child {
            justify-self:first baseline;
        }
    }
    div {
        padding-top: 90px;
        font: $font-georgia-small;
        letter-spacing: 0.06em;
        color: $color-dark-l;
        @media screen and (max-width: 767px) {
            font: $font-georgia-15;
            padding-top: 70px;
        }
    }
}

.section-donation {
    gap: 30px;
    background-color: $color-light-l;
    @media screen and (max-width: 1279px) {
        gap: 60px;        
    }
    @media screen and (max-width: 767px) {
        gap: 42px;        
    }
    .donation-info {
        @include flex(center, flex-start, column);
        max-width: 380px;
        gap: 20px;
        @media screen and (max-width: 767px) {
            align-items: center;        
        }
        .donation-contact {
            font: $font-georgia-15;
            letter-spacing: 0.06em;
            color: $color-dark-l;
            @media screen and (max-width: 767px) {
                font: 15px/24px 'Georgia', serif;
                letter-spacing: 0;        
            }
        }
        .credit-card {
            @include flex();
            gap: 15px;
            padding: 10px 15px;
            background: $color-primary;
            border-radius: 9px;
            font: $font-georgia-small;
            letter-spacing: 0.06em;
            transition: 0.5s;
            &:hover {
                background: $color-primary-light;
            }
            @media screen and (max-width: 767px) {
                font: 15px/24px 'Georgia', serif ;        
            }
            .card-logo{
                background-image: url(../../assets/svg/credit-card.svg);
                width: 30px;
                height: 23px;
            }
            a {
                text-decoration: none;
                color: $color-dark-l;
            }
        }
        .donation-text {
            font: italic 12px/1.5 'Arial', sans-serif;
            color: $color-dark-m;
            @media screen and (max-width: 767px) {
                width: 280px;        
            }
        }
    }
}

.footer-container {
    @include flex(space-between, flex-start);
    padding: 40px 40px 0 40px;
    background-image: url(../../assets/img/footer-background.png);
    background-size: cover;
    @media screen and (max-width: 1279px) {
        @include flex($dir: column, $align: center); 
        gap: 65px;
        padding: 30px 30px 0 30px;
        background-image: url(../../assets/img/footer-background-768.png);
    }
    @media screen and (max-width: 767px) {
        padding: 30px 10px 0 10px;
        gap: 40px;
        background-image: url(../../assets/img/footer-background-320.png);
    }
    .footer-info-container {
        @include flex();
        gap: 160px;
        padding-top: 16px;
        @media screen and (max-width: 1279px) {
            gap: 60px;   
            padding-top: 0;  
        }
        @media screen and (max-width: 767px) {
            flex-direction: column; 
            gap: 40px;       
        }
    }
    .contacts-container {
        @include flex(space-between, flex-start, column);
        max-width: 279px;
        height: 234px;
        &:nth-child(2) {
            max-width: 302px;
        }
        @media screen and (max-width: 767px) {
            gap: 40px;
            height: auto;
            &:first-child {
                align-items: center;
            }    
        }
        .section-title {
            color: $color-white;
            @media screen and (max-width: 767px) {
                width: 280px; 
                align-self: center;      
            }
        }
        .contact {
            @include flex();
            gap: 20px;
            .contact-image {
                background-image: url(../../assets/svg/icon-email.svg);
                height: 32px;
                width: 40px;
            }
            .im {
                background-image: url(../../assets/svg/icon-phone.svg);
            }
            .map-image {
                background-image: url(../../assets/svg/icon-marker.svg);
                height: 32px;
                width: 22px;
            }
            a {
                text-decoration: none;
                font: $font-georgia-small;
                letter-spacing: 0.06em;
                color: $color-primary;
            }
        }
    }
    .footer-logo {
        display: flex;
        @media screen and (max-width: 767px) {
            img {
                width: 260px;
            }    
        }
    } 
}

@media screen and (max-width: 767px) {
    .hamburger {
        z-index: 5;
        @include flex($dir: column);
        gap: 8px;
        margin-right: 43px;
        margin-left: auto;
        width: 30px;
        height: 30px;
        cursor: pointer;
        .line {
            height: 2px;
            width: 30px;
            background: $color-primary;
            z-index: 15;
            transition: all 0.6s ease 0s;;
        }
        &.open {
            .line {
                transform: translateX(-1px) rotate(90deg);
            }
            .line:first-child {
                transform: translate(-11px, 10px) rotate(90deg);
            }
            .line:last-child {
                transform: translate(9px, -10px) rotate(90deg);
            }
        }
    }
}
