@keyframes race {
  0% {
    margin-left: 0;
  }

  to {
    margin-left: calc(100% - 100px);
  }
}

body {
  position: relative;
}

.road {
  border-bottom: 2px black dashed;
}

.car.drive {
  animation: 9999s ease-in race forwards;
}

.car.drive.crash {
  animation-play-state: paused;
}

.main {
  position: relative;
  .message {
    position: absolute;
    top: 50%;
    left: calc(50% - 100px);
    visibility: hidden;
  }
}

.winners-page {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  visibility: hidden;
}